@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

.articlesSection {
    /* border: solid 2px black; */
    height: 750px;
    background-color:hsl(0, 0%, 98%)
}

.allArticles{
    /* border: solid 2px green; */
    padding-top: 70px;
    height: 100%;
}

.allArticles h2 {
    text-align: left;
    font-family: 'Public Sans', sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
    color: hsl(233, 26%, 24%)
}

.articles {
    width: 100%;
    display: flex;
    flex-wrap: row wrap;
    margin-top: 40px;
    background-color: hsl(0, 0%, 98%);

}

.articleSingle {
    padding: 0;
    margin: 0 10px;
    /* border: solid 2px orange; */
    height: 450px;
    width: 280px;
    background-color: white;

}

.articleSingle .imageA {
    height: 180px;
    width: 100%;
    padding: 0;
}

.imageA img {
    height: 100%;
    width: 100%;
}

.text {
    padding: 30px 20px 0 20px;
}

.text h6 {
    color: #9698a6;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Public Sans', sans-serif;
}


.text h3 {
    padding-top: 8px;
    color: black;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
}

.text h3:hover {
    color: #31d35c;
}

.text p {
    padding-top: 8px;
    color: #9698a6;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;

}

@media screen and (max-width: 992px){
    .articlesSection { 
    height: 2470px;
   }

   .allArticles {
    padding-top: 50px;
    height: 100%;
   }


   .articles {
    display: flex;
    flex-direction: column;
    width: 100%;
   }

   .allArticles h2 {
    text-align: center;
   }

   .articleSingle{
    width: 100%;
   }

   .articleSingle .imageA {
    height: 400px;
   }


    
}