.reasonsSection {
    height: 1200px;
    background-color: hsl(0, 0%, 98%);
    overflow: hidden;
}

.content {
    width: 100%;
    height: 45%;
    background: url('../images/bg-intro-desktop.svg');
    background-position-x: 560px;
    background-position-y: -300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;

}

.imagemock {
    right: 0;
    position: absolute;
    display: flex;
    max-height: 100%;
    width: 55%;
}

.imagemock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: right;
    transform: translate(100px, -70px);
}

.next-generation {
    height: 100%;
    margin-top: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 100px 35px 0 80px;
    text-align: left;

}

.next-generation h2 {
    font-weight: 400;
    font-size: 50px;
    color: hsl(233, 26%, 24%);
    font-family: 'Public Sans', sans-serif;
    margin-bottom: 0;
    padding-bottom: 20px;
    width: 80%;
}

.next-generation p {
    color: hsl(233, 8%, 62%);
    width: auto;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.request-invites {
    width: 160px;
    height: 40px;

}

.request-invites button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    border: transparent;
    font-family: 'Public Sans', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.why-easybank {
    background-color: #f3f4f6;
    height: 55%;
}

.text-content {
    height: 250px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 35px 0 0px;
    margin: 0;

}


.text-content h5 {
    width: 100%;
    font-weight: 400;
    font-size: 40px;
    color: hsl(233, 26%, 24%);
    font-family: 'Public Sans', sans-serif;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.text-content p {
    width: 70%;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    color: hsl(233, 8%, 62%);
    border: red 2px solid;
}

.reasonswhygrid {
    display: flex;
    height: 450px;
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: row wrap;
    align-content: center;
    justify-content: flex-start;

}

.reason {
    display: flex;
    /* border: solid 1px red; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
}

.reason .icon {
    margin: 0 0 40px 0;
    width: auto;

}

.reason h2 {
    font-family: 'Public Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;

}

.reason p {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    padding-right: 7px;
}


@media screen and (max-width: 992px) {

    .reasonsSection {
        height: 2000px;
        border: solid 2px red;
        padding: 0;
    }

    .content {
        background-size:250% 80%;
        flex-direction: column-reverse;
        background-position-x: -400px;
        background-position-y: -320px;
        /* border: solid 2px green; */
        height: 45%;
    }

    .imagemock {
        height: 70%;
        width: 70%;
        top: 10px;
        margin: auto;
        /* border: 2px solid black; */
        right: 11%;
     }

    .imagemock img {
        width: 100%;
        height: 100%;
        float: none;
        transform: translate(0px, -210px);
    }

    .next-generation {
        height: 30%;
        padding: 0 30px;
        width: 100%;
        align-items: center;
    }

    .next-generation h2 {
        font-weight: 400;
        font-size: 40px;
        color: hsl(233, 26%, 24%);
        font-family: 'Public Sans', sans-serif;
        margin-bottom: 0;
        padding-bottom: 20px;
        text-align: center;
    }

    .next-generation p {
        text-align: center;
        font-size: initial;
        font-size: 14px;
    }

    .why-easybank {
        height: 55%;
        /* height: 1100px; */
        border: solid 2px blue;
    }

    .text-content {
        height: 120px;
        width: 100%;
        padding: 40px 0 0 0;
        margin: 0 0 50px 0;
        text-align: center;
        
    }

    .text-content h5 {
        font-size: 40px;
    }

    .text-content p{
        width: 100%;
        font-size: 16px;
    }

    .reasonswhygrid {
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        margin-top: 0;
        padding-top: 0;
        height: 900px;
    }

    .reason {
        align-items: center;
        justify-content: center;
    }

    .reason .icon {
        margin: 0 0 10px 0;
    }

    .reason h2,
    .reason p {
        text-align: center;
    }

    .reason p{
        font-size: 16px;
    }
}