.reasonsSection {
    height: 1200px;
    background-color: hsl(0, 0%, 98%);
    overflow: hidden;
}

.content {
    padding: 0;
    width: 100%;
    height: 45%;
    background-image: url('../images/bg-intro-desktop.svg');
    background-position-x: 560px;
    background-position-y: -300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    opacity: 1;

}

.imagemock {
    padding: 0;
    margin: 0;
    right: 0;
    position: absolute;
    display: flex;
    max-height: 100%;
    width: 55%;
}

.imagemock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: right;
    transform: translate(100px, -70px);
}

.next-generation {
    height: 100%;
    margin-top: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 100px 35px 0 80px;
    text-align: left;

}

.next-generation h2 {
    font-weight: 400;
    font-size: 50px;
    color: hsl(233, 26%, 24%);
    font-family: 'Public Sans', sans-serif;
    margin-bottom: 0;
    padding-bottom: 20px;
    width: 80%;
}

.next-generation p {
    color: hsl(233, 8%, 62%);
    width: auto;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.request-invites {
    width: 160px;
    height: 40px;

}

.request-invites button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    border: transparent;
    font-family: 'Public Sans', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.why-easybank {
    padding: 0;
    background-color: #f3f4f6;
    height: 55%;
}

.text-content {
    height: 250px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 35px 0 0px;
    margin: 0;

}


.text-content h5 {
    width: 100%;
    font-weight: 400;
    font-size: 40px;
    color: hsl(233, 26%, 24%);
    font-family: 'Public Sans', sans-serif;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.text-content p {
    width: 70%;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    color: hsl(233, 8%, 62%);
}

.reasonswhygrid {
    display: flex;
    height: 450px;
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: row wrap;
    align-content: center;
    justify-content: flex-start;

}

.reason {
    display: flex;
    /* border: solid 1px red; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
}

.reason .icon {
    margin: 0 0 40px 0;
    width: auto;

}

.reason h2 {
    font-family: 'Public Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;

}

.reason p {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    padding-right: 7px;
}


@media screen and (max-width: 992px) {
    .reasonsSection {
        height: 2400px;
        padding: 0;
        overflow: visible;
    }

    .content {
        height: 55%;
        background-image: url('../images/bg-intro-mobile.svg');
        flex-direction: column-reverse;
        background-position-x: 0px;
        background-position-y: -240px;
        background-size: contain;
    }

    .imagemock {
        position: relative;
        height: 80%;
        width: 80%;
        margin: 0 auto;
        float: none;

    }

    .imagemock img {
        max-width: 100%;
        max-height: 100%;
        float: none;
        transform: translate(5px, -150px);
    }

    .next-generation {
        margin-top: 0;
        top: 0;
        height: 50%;
        padding: 0 30px 0px;
        width: 100%;
        align-items: center;
    }

    .next-generation h2 {
        font-weight: 400;
        font-size: 40px;
        color: hsl(233, 26%, 24%);
        font-family: 'Public Sans', sans-serif;
        margin-bottom: 0;
        padding-bottom: 20px;
        text-align: center;
    }

    .next-generation p {
        width: 80%;
        text-align: center;
        font-size: initial;
        font-size: 14px;
    }

    .why-easybank {
        height: 45%;
        
    }

    .text-content {
        height: 120px;
        width: 100%;
        padding: 40px 0 0 0;
        margin: 0 0 50px 0;
        text-align: center;

    }

    .text-content h5 {
        font-size: 40px;
    }

    .text-content p {
        width: 100%;
        font-size: 16px;
    }

    .reasonswhygrid {
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        margin-top: 0;
        padding-top: 0;
        height: 900px;
    }

    .reason {
        align-items: center;
        justify-content: center;
    }

    .reason .icon {
        margin: 0 0 10px 0;
    }

    .reason h2,
    .reason p {
        text-align: center;
    }

    .reason p {
        font-size: 16px;
    }
}


@media screen and (max-width: 768px) {
    .reasonsSection {
        height: 2100px;
    }

    .content {
        height: 48%;
        background-position-y: -240px;
    }

    .imagemock {
        margin: auto;
        height: 55%;
        width: 65%;
    }


    .imagemock img {
        max-width: 100%;
        max-height: 100%;
        transform: translate(00px, -90px);

    }

    .next-generation {
        padding: 10px 0 0 0;
    }

    .next-generation p {
        width: 95%;
    }

    .why-easybank {
        height: 52%;
    }


}


@media screen and (max-width: 540px) {
.reasonsSection {
    height: 1750px;
}

.content {
    height: 40%;
    background-position-y: -190px;
}


.next-generation h2{
    width: 100%;
}
.why-easybank {
    height: 60%;
}


}

@media screen and (min-width: 375px){
    .reasonsSection{
        height: 1900px;
    }
    .content{
        background-position-y: -0px;
    }
    .imagemock {
        width: 100%;
        height: 70%;
        margin: 0;
    }

    .imagemock img{
        transform: translate(0px, -100px);
    }

  .why-easybank{
    padding: 50px 0 0 0;
  }

  .text-content{
    width: 100%;
  }

  .text-content h5{
    font-size: 30px;
  }

 .reason h2{
    font-weight: 300;
 }
    
}