@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

.navbar {
    padding: 5px 0 0 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100%;
}

.navbarNavbar {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}


.navbarNavbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.navbarNavbar ul li {
    list-style: none;
    margin: 0 10px 0 20px;
    font-family: 'Public Sans', sans-serif;
}

.navbarNavbar ul li a {
    color: #9698a6;
    font-family: 'Public Sans', sans-serif;
    position: relative;
}

.navbarNavbar ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    margin: auto;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    bottom: -20px;
    left: 0;
    opacity: 0;
}

.navbarNavbar ul li a:hover {
    color: #2d314d;
}

.navbarNavbar ul li a:hover::after {
    width: 100%;
    transition: width 0.2s;
    opacity: 1;
}

.navbar .invitation {
    width: 160px;
    height: 40px;

}

.invitation button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    border: transparent;
    font-family: 'Public Sans', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.modal {
    position: fixed;
    top: 100px;
    height: 00px;
    width: 94%;
    z-index: 3;
    margin: auto 3%;
    background-color: white;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

 .open {
    display: contents;
    height: 220px;
    overflow: hidden;
}

 .mobile-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.mobile-modal li {
    list-style: none;
    font-size: 18px;
    align-items: center;
    margin-bottom: 15px;

}

.mobile-modal li a {
    color: #2d314d;
    font-family: 'Public Sans', sans-serif;

}

.menuBtn {
    border: none;
    display: none;
    background: none;
}

.close{
    display: none;
}



button{
    border: none;
    background: transparent;
}

@media screen and (max-width: 992px) {

    .active{
        display: block;
    }    

    .navbar ul,
    .invitation {
        display: none;
    }

    .modal,
    .menuBtn {
        display: block;
    }

    .menuBtn{
        cursor: pointer;

    }
}