@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

.navbar {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
}

.navbarNavbar {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbarNavbar .logo {
 justify-content: center;
}

.navbarNavbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbarNavbar ul li {
    list-style: none;
    margin: 0 10px 0 20px;
    font-family: 'Public Sans', sans-serif;
}

.navbarNavbar ul li a {
    color: #9698a6;
    font-family: 'Public Sans', sans-serif;
}


.navbarNavbar ul li a:hover {
    color: #2d314d;

}

.navbarNavbar ul li a::after {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    height: 3px;
    width: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    top: 3rem;
    overflow: hidden;
    opacity: 0;
}

.navbar ul li a:hover::after {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    top: 4.7rem;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.navbar .invitation {
    width: 160px;
    height: 40px;

}

.invitation button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    border: transparent;
    font-family: 'Public Sans', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.modal {
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
}

.modal .mobile-modal {
    height: 100%;
    width: 100%;
}

.mobile-modal .mobileMenuitem {
    list-style: none;
    font-size: 20px;
    align-items: center;

}

.menu-hidden{
    display: none;
}


@media screen and (min-width: 768px) {

    .navbar{
        height: 65px;
    }

    .navbar ul{
        display: none;
    }

    .navbar .invitation{
        display: none;
    }

    .menu-hidden{
        display: contents;
    }

    .modal-hidden{
        display: none;
    }

    .modal-visible{
        display: contents;
    }
    
}

