@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');


.footer {
    background: #2d314d;
    color: #fff;
    height: 200px;
    padding: 30px 0 0 0;


}

.footer-contain{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logoandicons {
    display: flex;
    flex-direction: column;

}

.logoandicons .icons {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 50px;
}

.logo-footer {
    margin-bottom: 30px;

}



.icons {
    padding: 30px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.icons img:hover{
    color: #31d35c;
}

.text-white{
    color: white;
}


.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 50%;
    /*adjust the width compared to the container */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links ul li {
    padding: 0 15px;
    margin-bottom: 10px;
    width: 50%;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover{
    color: #31d35c;

}

.footer-right {
    flex-direction: column;
    position: absolute;
    right: 80px;
}


#request-invitebtn{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    border: transparent;
    font-family: 'Public Sans', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 14px;
}

#request-invitebtn {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    margin-bottom: 40px;
}

h6 span {
    font-family: 'Public Sans', sans-serif;
}